include('/etc/mock/fedora-5-x86_64.cfg')

config_opts['yum.conf'] += """
[rpmfusion-free-updates]
name=RPM Fusion for EL 5 - Free - Updates
#baseurl=http://download1.rpmfusion.org/free/el/updates/5/x86_64/
mirrorlist=http://mirrors.rpmfusion.org/mirrorlist?repo=free-el-updates-released-5&arch=x86_64
enabled=1

[rpmfusion-free-updates-testing]
name=RPM Fusion for EL 5 - Free - Test Updates
#baseurl=http://download1.rpmfusion.org/free/el/updates/testing/5/x86_64/
mirrorlist=http://mirrors.rpmfusion.org/mirrorlist?repo=free-el-updates-testing-5&arch=x86_64
enabled=1

[local-free]
name=RPM Fusion for EL 5 - Free - Local repo
baseurl=http://koji.rpmfusion.org/kojifiles/repos/el5-free-build/latest/x86_64/
cost=2000
enabled=0

[buildsys-override-free]
name=RPM Fusion for EL 5 - Free - Buildsys override
baseurl=http://koji.rpmfusion.org/buildsys-override/el5-free/x86_64/
enabled=0

[buildsys_private]
name=Buildsys RPM Fusion free for EL 5, private
baseurl=http://buildsys.rpmfusion.org/builsys_private/el/5/x86_64/
cost=2000
enabled=0

[buildsys_kernel-devel]
name=Buildsys RPM Fusion free for EL 5, kernel-devel
baseurl=http://buildsys.rpmfusion.org/kernel-devel-pkgs/el/5/
cost=2000
enabled=0


"""
