config_opts['root'] = 'fedora-rawhide-ppc64'
config_opts['target_arch'] = 'ppc64'
config_opts['chroot_setup_cmd'] = 'groupinstall buildsys-build'
config_opts['dist'] = 'fc13'  # only useful for --resultdir variable subst

config_opts['yum.conf'] = """
[main]
cachedir=/var/cache/yum
debuglevel=1
reposdir=/dev/null
logfile=/var/log/yum.log
retries=20
obsoletes=1
gpgcheck=0
assumeyes=1

# repos

[fedora]
name=fedora
mirrorlist=http://mirrors.fedoraproject.org/mirrorlist?repo=rawhide&arch=ppc64
failovermethod=priority


[rpmfusion-free-rawhide]
name=RPM Fusion for Fedora Rawhide - Free
#baseurl=http://download1.rpmfusion.org/free/fedora/development/ppc64/os/
mirrorlist=http://mirrors.rpmfusion.org/mirrorlist?repo=free-fedora-rawhide&arch=ppc64
enabled=1

[rpmfusion-free-needsign]
name=RPM Fusion for Fedora Rawhide - Free - Need Sign
baseurl=http://buildsys.rpmfusion.org/plague-results/fedora-development-rpmfusion_free/
enabled=0




[buildsys_private]
name=Buildsys RPM Fusion free for Fedora Rawhide, private
baseurl=http://buildsys.rpmfusion.org/builsys_private/fedora/development/ppc64/
enabled=0

[buildsys_kernel-devel]
name=Buildsys RPM Fusion free for Fedora Rawhide, kernel-devel
baseurl=http://buildsys.rpmfusion.org/kernel-devel-pkgs/fedora/development/
enabled=0


[local]
name=local
baseurl=http://kojipkgs.fedoraproject.org/repos/dist-rawhide-current/ppc64/
cost=2000
enabled=0
"""
