config_opts['root'] = 'fedora-rawhide-sparc'
config_opts['target_arch'] = 'sparcv9'
config_opts['legal_host_arches'] = ('sparc', 'sparcv9', 'sparc64')
config_opts['chroot_setup_cmd'] = 'groupinstall buildsys-build'
config_opts['dist'] = 'rawhide'  # only useful for --resultdir variable subst

config_opts['yum.conf'] = """
[main]
cachedir=/var/cache/yum
debuglevel=1
reposdir=/dev/null
logfile=/var/log/yum.log
retries=20
obsoletes=1
gpgcheck=0
assumeyes=1
syslog_ident=mock
syslog_device=
#exclude=*.sparc64
# The above is not needed anymore with yum multilib policy of "best" which is the default in Fedora.

# repos

[fedora]
name=fedora
mirrorlist=http://mirrors.fedoraproject.org/mirrorlist?repo=rawhide&arch=sparc
failovermethod=priority

[local]
name=local
baseurl=http://sparc.koji.fedoraproject.org/repos/rawhide/latest/sparc/
cost=2000
enabled=0

[debug]
name=Fedora Rawhide - sparc - Debug
failovermethod=priority
mirrorlist=http://mirrors.fedoraproject.org/mirrorlist?repo=rawhide-debug&arch=sparc
enabled=0

[rpmfusion-free-rawhide]
name=RPM Fusion for Fedora Rawhide - Free
#baseurl=http://download1.rpmfusion.org/free/fedora-secondary/development/rawhide/sparc/os/
mirrorlist=http://mirrors.rpmfusion.org/mirrorlist?repo=free-fedora-rawhide&arch=sparc
enabled=1

[rpmfusion-free-rawhide-debuginfo]
name=RPM Fusion for Fedora Rawhide - Free - Debug
#baseurl=http://download1.rpmfusion.org/free/fedora-secondary/development/rawhide/sparc/os/debug/
mirrorlist=http://mirrors.rpmfusion.org/mirrorlist?repo=free-fedora-rawhide-debug&arch=sparc
enabled=0

[rpmfusion-free-needsign]
name=RPM Fusion for Fedora Rawhide - Free - Need Sign
baseurl=http://buildsys.rpmfusion.org/plague-results/fedora-development-rpmfusion_free/
enabled=0
[rpmfusion-nonfree-rawhide]
name=RPM Fusion for Fedora Rawhide - Nonfree
#baseurl=http://download1.rpmfusion.org/nonfree/fedora-secondary/development/rawhide/sparc/os/
mirrorlist=http://mirrors.rpmfusion.org/mirrorlist?repo=nonfree-fedora-rawhide&arch=sparc
enabled=1

[rpmfusion-nonfree-rawhide-debuginfo]
name=RPM Fusion for Fedora Rawhide - Nonfree - Debug
#baseurl=http://download1.rpmfusion.org/nonfree/fedora-secondary/fedora/development/rawhide/sparc/os/debug/
mirrorlist=http://mirrors.rpmfusion.org/mirrorlist?repo=nonfree-fedora-rawhide-debug&arch=sparc
enabled=0

[rpmfusion-nonfree-needsign]
name=RPM Fusion for Fedora Rawhide - NonFree - Need Sign
baseurl=http://buildsys.rpmfusion.org/plague-results/fedora-development-rpmfusion_nonfree/
enabled=0
[buildsys_private]
name=Buildsys RPM Fusion free for Fedora rawhide, private
baseurl=http://buildsys.rpmfusion.org/builsys_private/fedora/rawhide/sparc/
cost=2000
enabled=0

[buildsys_kernel-devel]
name=Buildsys RPM Fusion free for Fedora rawhide, kernel-devel
baseurl=http://buildsys.rpmfusion.org/kernel-devel-pkgs/fedora/rawhide/
cost=2000
enabled=0


"""
