include('/etc/mock/fedora-24-ppc64le.cfg')

config_opts['yum.conf'] += """
[rpmfusion-free]
name=RPM Fusion for Fedora 24 - Free
#baseurl=http://download1.rpmfusion.org/free/fedora-secondary/releases/24/Everything/ppc64le/os/
mirrorlist=http://mirrors.rpmfusion.org/mirrorlist?repo=free-fedora-24&arch=ppc64le
enabled=1

[rpmfusion-free-debuginfo]
name=RPM Fusion for Fedora 24 - Free - Debug
#baseurl=http://download1.rpmfusion.org/free/fedora-secondary/releases/24/Everything/ppc64le/debug/
mirrorlist=http://mirrors.rpmfusion.org/mirrorlist?repo=free-fedora-debug-24&arch=ppc64le
enabled=0

[rpmfusion-free-updates]
name=RPM Fusion for Fedora 24 - Free - Updates
#baseurl=http://download1.rpmfusion.org/free/fedora-secondary/updates/24/ppc64le/
mirrorlist=http://mirrors.rpmfusion.org/mirrorlist?repo=free-fedora-updates-released-24&arch=ppc64le
enabled=1

[rpmfusion-free-updates-debuginfo]
name=RPM Fusion for Fedora 24 - Free - Updates Debug
#baseurl=http://download1.rpmfusion.org/free/fedora-secondary/updates/24/ppc64le/debug/
mirrorlist=http://mirrors.rpmfusion.org/mirrorlist?repo=free-fedora-updates-released-debug-24&arch=ppc64le
enabled=0

[rpmfusion-free-updates-testing]
name=RPM Fusion for Fedora 24 - Free - Test Updates
#baseurl=http://download1.rpmfusion.org/free/fedora-secondary/updates/testing/24/ppc64le/
mirrorlist=http://mirrors.rpmfusion.org/mirrorlist?repo=free-fedora-updates-testing-24&arch=ppc64le
enabled=0

[rpmfusion-free-updates-testing-debuginfo]
name=RPM Fusion for Fedora 24 - Free - Test Updates Debug
#baseurl=http://download1.rpmfusion.org/free/fedora-secondary/updates/testing/24/ppc64le/debug/
mirrorlist=http://mirrors.rpmfusion.org/mirrorlist?repo=free-fedora-updates-testing-debug-24&arch=ppc64le
enabled=0

[local-free]
name=RPM Fusion for Fedora 24 - Free - Local repo
baseurl=http://koji.rpmfusion.org/kojifiles/repos/f24-free-build/latest/ppc64le/
cost=2000
enabled=0

[buildsys-override-free]
name=RPM Fusion for Fedora 24 - Free - Buildsys override
baseurl=http://koji.rpmfusion.org/buildsys-override/f24-free/ppc64le/
cost=2000
enabled=0

[rpmfusion-nonfree]
name=RPM Fusion for Fedora 24 - Nonfree
#baseurl=http://download1.rpmfusion.org/nonfree/fedora-secondary/releases/24/Everything/ppc64le/os/
mirrorlist=http://mirrors.rpmfusion.org/mirrorlist?repo=nonfree-fedora-24&arch=ppc64le
enabled=1

[rpmfusion-nonfree-debuginfo]
name=RPM Fusion for Fedora 24 - Nonfree - Debug
#baseurl=http://download1.rpmfusion.org/nonfree/fedora-secondary/releases/24/Everything/ppc64le/debug/
mirrorlist=http://mirrors.rpmfusion.org/mirrorlist?repo=nonfree-fedora-debug-24&arch=ppc64le
enabled=0

[rpmfusion-nonfree-updates]
name=RPM Fusion for Fedora 24 - Nonfree - Updates
#baseurl=http://download1.rpmfusion.org/nonfree/fedora-secondary/updates/24/ppc64le/
mirrorlist=http://mirrors.rpmfusion.org/mirrorlist?repo=nonfree-fedora-updates-released-24&arch=ppc64le
enabled=1

[rpmfusion-nonfree-updates-debuginfo]
name=RPM Fusion for Fedora 24 - Nonfree - Updates Debug
#baseurl=http://download1.rpmfusion.org/nonfree/fedora-secondary/updates/24/ppc64le/debug/
mirrorlist=http://mirrors.rpmfusion.org/mirrorlist?repo=nonfree-fedora-updates-released-debug-24&arch=ppc64le
enabled=0

[rpmfusion-nonfree-updates-testing]
name=RPM Fusion for Fedora 24 - Nonfree - Test Updates
#baseurl=http://download1.rpmfusion.org/nonfree/fedora-secondary/updates/testing/24/ppc64le/
mirrorlist=http://mirrors.rpmfusion.org/mirrorlist?repo=nonfree-fedora-updates-testing-24&arch=ppc64le
enabled=0

[rpmfusion-nonfree-updates-testing-debuginfo]
name=RPM Fusion for Fedora 24 - Nonfree - Test Updates Debug
#baseurl=http://download1.rpmfusion.org/nonfree/fedora-secondary/updates/testing/24/ppc64le/debug/
mirrorlist=http://mirrors.rpmfusion.org/mirrorlist?repo=nonfree-fedora-updates-testing-debug-24&arch=ppc64le
enabled=0

[local-nonfree]
name=RPM Fusion for Fedora 24 - Nonfree - Local repo
baseurl=http://koji.rpmfusion.org/kojifiles/repos/f24-nonfree-build/latest/ppc64le/
cost=2000
enabled=0

[buildsys-override-nonfree]
name=RPM Fusion for Fedora 24 - Nonfree - Buildsys override
baseurl=http://koji.rpmfusion.org/buildsys-override/f24-nonfree/ppc64le/
cost=2000
enabled=0


"""
