config_opts['root'] = 'fedora-rawhide-sparc64'
config_opts['target_arch'] = 'sparc64'
config_opts['legal_host_arches'] = ('sparc64',)
config_opts['chroot_setup_cmd'] = 'groupinstall buildsys-build'
config_opts['dist'] = 'fc18'  # only useful for --resultdir variable subst

config_opts['yum.conf'] = """
[main]
cachedir=/var/cache/yum
debuglevel=1
reposdir=/dev/null
logfile=/var/log/yum.log
retries=20
obsoletes=1
gpgcheck=0
assumeyes=1
syslog_ident=mock
syslog_device=

# repos

[fedora]
name=fedora
mirrorlist=http://mirrors.fedoraproject.org/mirrorlist?repo=rawhide&arch=sparc64
failovermethod=priority


[rpmfusion-free-rawhide]
name=RPM Fusion for Fedora Rawhide - Free
baseurl=http://download1.rpmfusion.org/free/fedora-secondary/development/sparc64/os/
#mirrorlist=http://mirrors.rpmfusion.org/mirrorlist?repo=free-fedora-rawhide&arch=sparc64
enabled=1

[rpmfusion-free-needsign]
name=RPM Fusion for Fedora Rawhide - Free - Need Sign
baseurl=http://buildsys.rpmfusion.org/plague-results/fedora-development-rpmfusion_free/
enabled=0


[rpmfusion-nonfree-rawhide]
name=RPM Fusion for Fedora Rawhide - Nonfree
baseurl=http://download1.rpmfusion.org/nonfree/fedora-secondary/development/x86_64/os/
#mirrorlist=http://mirrors.rpmfusion.org/mirrorlist?repo=nonfree-fedora-rawhide&arch=sparc64
enabled=1

[rpmfusion-nonfree-needsign]
name=RPM Fusion for Fedora Rawhide - NonFree - Need Sign
baseurl=http://buildsys.rpmfusion.org/plague-results/fedora-development-rpmfusion_nonfree/
enabled=0


[kwizart]
name=kwizart for Fedora rawhide - sparc64 - Base
baseurl=http://rpms.kwizart.net/fedora/rawhide/sparc64/
enabled=1

[kwizart-proprio]
name=kwizart-proprio for Fedora rawhide - sparc64 - Base
baseurl=http://rpms.kwizart.net/fedora/proprio/rawhide/sparc64/
enabled=0

[kwizart-nonfree]
name=kwizart-nonfree for Fedora
baseurl=http://rpms.kwizart.net/fedora/nonfree/rawhide/sparc64/
enabled=0

[kwizart-nonfree-common]
name=kwizart-nonfree for Fedora
baseurl=http://rpms.kwizart.net/fedora/nonfree/common/sparc64/
enabled=0

[kwizart-pending]
name=kwizart-pending for Fedora rawhide - sparc64 - Base
baseurl=http://rpms.kwizart.net/fedora/pending/rawhide/sparc64/
enabled=0




[buildsys_private]
name=Buildsys RPM Fusion free for Fedora Rawhide, private
baseurl=http://buildsys.rpmfusion.org/builsys_private/fedora/development/sparc64/
enabled=0

[buildsys_kernel-devel]
name=Buildsys RPM Fusion free for Fedora Rawhide, kernel-devel
baseurl=http://buildsys.rpmfusion.org/kernel-devel-pkgs/fedora/development/
enabled=0


[local]
name=local
baseurl=http://kojipkgs.fedoraproject.org/repos/dist-rawhide/latest/sparc64
cost=2000
enabled=0
"""
