include('/etc/mock/fedora-35-ppc64le-rpmfusion_free.cfg')

config_opts['dnf.conf'] += """
[rpmfusion-nonfree]
name=RPM Fusion for Fedora 35 - Nonfree
#baseurl=https://download1.rpmfusion.org/nonfree/fedora/releases/35/Everything/ppc64le/os/
#mirrorlist=https://mirrors.rpmfusion.org/mirrorlist?repo=nonfree-fedora-35&arch=ppc64le
metalink=https://mirrors.rpmfusion.org/metalink?repo=nonfree-fedora-35&arch=ppc64le
gpgkey=file:///usr/share/distribution-gpg-keys/rpmfusion/RPM-GPG-KEY-rpmfusion-nonfree-fedora-35
gpgcheck=1
enabled=1

[rpmfusion-nonfree-debuginfo]
name=RPM Fusion for Fedora 35 - Nonfree - Debug
#baseurl=https://download1.rpmfusion.org/nonfree/fedora/releases/35/Everything/ppc64le/debug/
#mirrorlist=https://mirrors.rpmfusion.org/mirrorlist?repo=nonfree-fedora-debug-35&arch=ppc64le
metalink=https://mirrors.rpmfusion.org/metalink?repo=nonfree-fedora-debug-35&arch=ppc64le
gpgcheck=1
enabled=0

[rpmfusion-nonfree-updates]
name=RPM Fusion for Fedora 35 - Nonfree - Updates
#baseurl=https://download1.rpmfusion.org/nonfree/fedora/updates/35/ppc64le/
#mirrorlist=https://mirrors.rpmfusion.org/mirrorlist?repo=nonfree-fedora-updates-released-35&arch=ppc64le
metalink=https://mirrors.rpmfusion.org/metalink?repo=nonfree-fedora-updates-released-35&arch=ppc64le
gpgkey=file:///usr/share/distribution-gpg-keys/rpmfusion/RPM-GPG-KEY-rpmfusion-nonfree-fedora-35
gpgcheck=1
enabled=0

[rpmfusion-nonfree-updates-debuginfo]
name=RPM Fusion for Fedora 35 - Nonfree - Updates Debug
#baseurl=https://download1.rpmfusion.org/nonfree/fedora/updates/35/ppc64le/debug/
#mirrorlist=https://mirrors.rpmfusion.org/mirrorlist?repo=nonfree-fedora-updates-released-debug-35&arch=ppc64le
metalink=https://mirrors.rpmfusion.org/metalink?repo=nonfree-fedora-updates-released-debug-35&arch=ppc64le
gpgcheck=1
enabled=0

[rpmfusion-nonfree-updates-testing]
name=RPM Fusion for Fedora 35 - Nonfree - Test Updates
#baseurl=https://download1.rpmfusion.org/nonfree/fedora/updates/testing/35/ppc64le/
#mirrorlist=https://mirrors.rpmfusion.org/mirrorlist?repo=nonfree-fedora-updates-testing-35&arch=ppc64le
metalink=https://mirrors.rpmfusion.org/metalink?repo=nonfree-fedora-updates-testing-35&arch=ppc64le
gpgcheck=1
enabled=1

[rpmfusion-nonfree-updates-testing-debuginfo]
name=RPM Fusion for Fedora 35 - Nonfree - Test Updates Debug
#baseurl=https://download1.rpmfusion.org/nonfree/fedora/updates/testing/35/ppc64le/debug/
#mirrorlist=https://mirrors.rpmfusion.org/mirrorlist?repo=nonfree-fedora-updates-testing-35&arch=ppc64le
metalink=https://mirrors.rpmfusion.org/metalink?repo=nonfree-fedora-updates-testing-debug-35&arch=ppc64le
gpgcheck=1
enabled=0

[local-nonfree]
name=RPM Fusion for Fedora 35 - Nonfree - Local repo
baseurl=https://koji.rpmfusion.org/kojifiles/repos/f35-nonfree-build/latest/ppc64le/
cost=2000
enabled=0

[buildsys-override-nonfree]
name=RPM Fusion for Fedora 35 - Nonfree - Buildsys override
baseurl=https://koji.rpmfusion.org/buildsys-override/f35-nonfree/ppc64le/
cost=2000
enabled=0

"""
