include('/etc/mock/fedora-23-ppc64.cfg')

config_opts['yum.conf'] += """
[rpmfusion-free]
name=RPM Fusion for Fedora 23 - Free
#baseurl=http://download1.rpmfusion.org/free/fedora-secondary/releases/23/Everything/ppc64/os/
mirrorlist=http://mirrors.rpmfusion.org/mirrorlist?repo=free-fedora-23&arch=ppc64
enabled=1

[rpmfusion-free-debuginfo]
name=RPM Fusion for Fedora 23 - Free - Debug
#baseurl=http://download1.rpmfusion.org/free/fedora-secondary/releases/23/Everything/ppc64/debug/
mirrorlist=http://mirrors.rpmfusion.org/mirrorlist?repo=free-fedora-debug-23&arch=ppc64
enabled=0

[rpmfusion-free-updates]
name=RPM Fusion for Fedora 23 - Free - Updates
#baseurl=http://download1.rpmfusion.org/free/fedora-secondary/updates/23/ppc64/
mirrorlist=http://mirrors.rpmfusion.org/mirrorlist?repo=free-fedora-updates-released-23&arch=ppc64
enabled=1

[rpmfusion-free-updates-debuginfo]
name=RPM Fusion for Fedora 23 - Free - Updates Debug
#baseurl=http://download1.rpmfusion.org/free/fedora-secondary/updates/23/ppc64/debug/
mirrorlist=http://mirrors.rpmfusion.org/mirrorlist?repo=free-fedora-updates-released-debug-23&arch=ppc64
enabled=0

[rpmfusion-free-updates-testing]
name=RPM Fusion for Fedora 23 - Free - Test Updates
#baseurl=http://download1.rpmfusion.org/free/fedora-secondary/updates/testing/23/ppc64/
mirrorlist=http://mirrors.rpmfusion.org/mirrorlist?repo=free-fedora-updates-testing-23&arch=ppc64
enabled=0

[rpmfusion-free-updates-testing-debuginfo]
name=RPM Fusion for Fedora 23 - Free - Test Updates Debug
#baseurl=http://download1.rpmfusion.org/free/fedora-secondary/updates/testing/23/ppc64/debug/
mirrorlist=http://mirrors.rpmfusion.org/mirrorlist?repo=free-fedora-updates-testing-debug-23&arch=ppc64
enabled=0

[local-free]
name=RPM Fusion for Fedora 23 - Free - Local repo
baseurl=http://koji.rpmfusion.org/kojifiles/repos/f23-free-build/latest/ppc64/
cost=2000
enabled=0

[buildsys-override-free]
name=RPM Fusion for Fedora 23 - Free - Buildsys override
baseurl=http://koji.rpmfusion.org/buildsys-override/f23-free/ppc64/
cost=2000
enabled=0

[rpmfusion-nonfree]
name=RPM Fusion for Fedora 23 - Nonfree
#baseurl=http://download1.rpmfusion.org/nonfree/fedora-secondary/releases/23/Everything/ppc64/os/
mirrorlist=http://mirrors.rpmfusion.org/mirrorlist?repo=nonfree-fedora-23&arch=ppc64
enabled=1

[rpmfusion-nonfree-debuginfo]
name=RPM Fusion for Fedora 23 - Nonfree - Debug
#baseurl=http://download1.rpmfusion.org/nonfree/fedora-secondary/releases/23/Everything/ppc64/debug/
mirrorlist=http://mirrors.rpmfusion.org/mirrorlist?repo=nonfree-fedora-debug-23&arch=ppc64
enabled=0

[rpmfusion-nonfree-updates]
name=RPM Fusion for Fedora 23 - Nonfree - Updates
#baseurl=http://download1.rpmfusion.org/nonfree/fedora-secondary/updates/23/ppc64/
mirrorlist=http://mirrors.rpmfusion.org/mirrorlist?repo=nonfree-fedora-updates-released-23&arch=ppc64
enabled=1

[rpmfusion-nonfree-updates-debuginfo]
name=RPM Fusion for Fedora 23 - Nonfree - Updates Debug
#baseurl=http://download1.rpmfusion.org/nonfree/fedora-secondary/updates/23/ppc64/debug/
mirrorlist=http://mirrors.rpmfusion.org/mirrorlist?repo=nonfree-fedora-updates-released-debug-23&arch=ppc64
enabled=0

[rpmfusion-nonfree-updates-testing]
name=RPM Fusion for Fedora 23 - Nonfree - Test Updates
#baseurl=http://download1.rpmfusion.org/nonfree/fedora-secondary/updates/testing/23/ppc64/
mirrorlist=http://mirrors.rpmfusion.org/mirrorlist?repo=nonfree-fedora-updates-testing-23&arch=ppc64
enabled=0

[rpmfusion-nonfree-updates-testing-debuginfo]
name=RPM Fusion for Fedora 23 - Nonfree - Test Updates Debug
#baseurl=http://download1.rpmfusion.org/nonfree/fedora-secondary/updates/testing/23/ppc64/debug/
mirrorlist=http://mirrors.rpmfusion.org/mirrorlist?repo=nonfree-fedora-updates-testing-debug-23&arch=ppc64
enabled=0

[local-nonfree]
name=RPM Fusion for Fedora 23 - Nonfree - Local repo
baseurl=http://koji.rpmfusion.org/kojifiles/repos/f23-nonfree-build/latest/ppc64/
cost=2000
enabled=0

[buildsys-override-nonfree]
name=RPM Fusion for Fedora 23 - Nonfree - Buildsys override
baseurl=http://koji.rpmfusion.org/buildsys-override/f23-nonfree/ppc64/
cost=2000
enabled=0


[kwizart]
name=kwizart for Fedora 23 - ppc64 - Base
baseurl=http://rpms.kwizart.net/fedora/23/ppc64/
enabled=1

[kwizart-testing]
name=kwizart-testing for Fedora 23 - ppc64 - Base
baseurl=http://rpms.kwizart.net/fedora/testing/23/ppc64/
enabled=0

"""
