include('/etc/mock/fedora-26-armhfp.cfg')

config_opts['yum.conf'] += """
[rpmfusion-free]
name=RPM Fusion for Fedora 26 - Free
#baseurl=https://download1.rpmfusion.org/free/fedora/releases/26/Everything/armhfp/os/
metalink=https://mirrors.rpmfusion.org/metalink?repo=free-fedora-26&arch=armhfp
gpgkey=file:///usr/share/distribution-gpg-keys/rpmfusion/RPM-GPG-KEY-rpmfusion-free-fedora-26
gpgcheck=1
enabled=1

[rpmfusion-free-debuginfo]
name=RPM Fusion for Fedora 26 - Free - Debug
#baseurl=https://download1.rpmfusion.org/free/fedora/releases/26/Everything/armhfp/debug/
metalink=https://mirrors.rpmfusion.org/metalink?repo=free-fedora-debug-26&arch=armhfp
enabled=0

[rpmfusion-free-updates]
name=RPM Fusion for Fedora 26 - Free - Updates
#baseurl=https://download1.rpmfusion.org/free/fedora/updates/26/armhfp/
metalink=https://mirrors.rpmfusion.org/metalink?repo=free-fedora-updates-released-26&arch=armhfp
gpgkey=file:///usr/share/distribution-gpg-keys/rpmfusion/RPM-GPG-KEY-rpmfusion-free-fedora-26
gpgcheck=1
enabled=1

[rpmfusion-free-updates-debuginfo]
name=RPM Fusion for Fedora 26 - Free - Updates Debug
#baseurl=https://download1.rpmfusion.org/free/fedora/updates/26/armhfp/debug/
metalink=https://mirrors.rpmfusion.org/metalink?repo=free-fedora-updates-released-debug-26&arch=armhfp
enabled=0

[rpmfusion-free-updates-testing]
name=RPM Fusion for Fedora 26 - Free - Test Updates
#baseurl=https://download1.rpmfusion.org/free/fedora/updates/testing/26/armhfp/
metalink=https://mirrors.rpmfusion.org/metalink?repo=free-fedora-updates-testing-26&arch=armhfp
enabled=0

[rpmfusion-free-updates-testing-debuginfo]
name=RPM Fusion for Fedora 26 - Free - Test Updates Debug
#baseurl=https://download1.rpmfusion.org/free/fedora/updates/testing/26/armhfp/debug/
metalink=https://mirrors.rpmfusion.org/metalink?repo=free-fedora-updates-testing-debug-26&arch=armhfp
enabled=0

[local-free]
name=RPM Fusion for Fedora 26 - Free - Local repo
baseurl=https://koji.rpmfusion.org/kojifiles/repos/f26-free-build/latest/armhfp/
cost=2000
enabled=0

[buildsys-override-free]
name=RPM Fusion for Fedora 26 - Free - Buildsys override
baseurl=https://koji.rpmfusion.org/buildsys-override/f26-free/armhfp/
cost=2000
enabled=0

"""
